* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  font-weight: 700;
}
p {
  font-weight: 700;
}
body {
  min-height: 2000px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
button {
  cursor: pointer;
}
