/* modal.css */
input, button {
  background: none;
  outline: none;
  border: none;
}
/* ul {
  list-style: none;
} */
.cover {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalWindow {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #7c12b0;
  padding: 20px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 400px;
  max-width: 100%;
  z-index: 9999;
}
.modalWindow:hover {
  color: #F781F3;
  border-color: #F781F3;
}
.modalBody form {
  padding: 15px;
  border: 1px solid #cad0d9;
  /* border: 0; */
}
/* .modalWindow form input, .modalWindow form .form-modal__dropdown {
  border: 1px solid #ccc;
  padding: 20px 0;
  border-bottom: 1px solid #ef9cc6;
  text-align: center;
} */
.modalBody form input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 0;
  /* border-bottom: 1px solid #ef9cc6; */
  text-align: center;
}

.modalWindow p, .modalWindow input, .modalWindow li, .modalWindow span {
  font-family: 'Montserrat', sans-serif!important;
}

.modalWindow .close-modal {
  cursor: pointer;
  color: white;
  background-color: purple;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -12px;
}

.modalBody .form-modal-select select {
  height: 60px;
  width: 100%;
  /* border: 0; */
  /* border: 1px solid #ef9cc6; */
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #666c76;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  appearance: none;
  cursor: pointer;
  text-align-last: center;
}

.modalWindow input[type="text"]:hover, .modalWindow select:hover {
  border: 1px solid #ef9cc6;
}

.modalBody button {
  margin-top: 15px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* max-width: 100%; */
  width: 275px;
  padding: 20px;
  text-align: center;
  background-color: purple;
  color: #fff;
}

.modalWindow p {
  text-align: center;
}

@media (max-width: 576px) {
  .modalWindow {
    width: 350px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .modalHeader {
    margin-top: 10px;
    padding: 0;
  }
  .modalBody {
    padding: 0;
  }
  .modalBody button {
    width: 275px;
  }
}
@media (max-width: 992px) {
  .modalWindow {
    display: block;
    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    transition: 200ms ease;
    z-index:200;
  }
  .modalWindow .close-modal {
    cursor: pointer;
    color: white;
    background-color: purple;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index:200;
  }
}
@media (max-width: 350px) {
  .modalWindow {
    width: 100px;
    display: block;
    margin-left: 44%;
    margin-right: auto;
    margin-top: 5%;
    z-index:200;
  }
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalHeader,
.modalBody,
.modalFooter {
  width: 400px;
  max-width: 100%;
  padding: 10px 20px;
}

.modalHeader {
  min-height: 60px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  display: block;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.modalTitle {
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  color: white;
  font-family: 'Montserrat', sans-serif!important;
  font-size: 12px;
  /* margin: 0 10 10 10; */
  background: purple;
}

.modalFooter {
  display: block;
  justify-content: flex-end;
  align-items: center;
}

.modalFooter .form-modal-item {
  font-size: 14px;
}

.modalFooter input[type="checkbox"] {
  width: auto;
  margin: 10px 10px 10px 0;
}

.modalFooter form .form-modal-text {
  text-align: center;
  padding: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif!important;
  margin: 0 10 10 10;
  background: purple;
}

.modalFooter button:last-child {
  margin-left: 10px;
}


.modalWindow form .form-modal__dropdown {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modalWindow form .form-modal__dropdown img {
  margin-left: 10px;
}
.modalWindow form .form-modal__dropdown ul {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #fff;
  display: none;
  padding-left: 0;
}
.modalWindow form .form-modal__dropdown ul li {
  padding: 20px 0;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: black;
}
.modalWindow form .form-modal__dropdown ul li:hover {
  background-color: #E6E6E6;
}
