.side-drawer {
  height: 100%;
  /* height: auto; */
  margin-top: 60px;
  background: white;
  /*box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);*/
  /*position: fixed;*/
  /* position: fixed;
  margin-top: 15px;
  margin-left: 55px; */
  /* width: 70%;
  max-width: 300px; */
}

.side-drawer ul {
  height: 35%;
  list-style: none;
  display: flex !important;
  flex-direction: column;
  justify-content: top;
}

.side-drawer li {
  position: relative;
  padding: 5px 10px !important;
  display: block !important;
}

.side-drawer li a {
  font-size: 16px;
  cursor: pointer;
  color: #333c49;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 7px 4px;
  font-family: 'AvenirNextCyr-Bold';
  border: 1px solid transparent;
}

.side-drawer li a:hover {
  border-color: #7c12b0;
  color: #7c12b0;
}

.side-drawer li a.active {
  border-color: #7c12b0;
  color: #7c12b0;
}

/* @media (max-width: 500px) {
  .side-drawer {
    margin-left: -20px;
    transform: translateX(-100%);
  }
} */
